/ :javascript
/     Date.prototype.getDOY = function() {
/     var onejan = new Date(this.getFullYear(),0,1);
/     return Math.ceil((this - onejan) / 86400000);
/     } 
/     var today = new Date();
/     var DOY = today.getDOY(); 
/     // DOY is day of year 1-365 or 366 in leap year

/     var TOD = new Array(#{@users.count});

/     TOD[1] = "#{current_user.username}";
/     // and so on up to TOD[366] (to allow for leap year)
/     TOD[64] ="Pine trees grow tall, but they do not reach the sky."  // for testing on day 64 (5th March) - change to suit

/     var weekDays = new Array ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
/     var months = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
/     var dd = today.getDate();
/     var dy = today.getDay();
/     var mm = today.getMonth();
/     var yy = today.getFullYear();

/     var daySuffix = 'th';
/     if(dd != 11 && dd != 12 && dd != 13) {ddx = dd % 10}
/     else {ddx = dd}
/     if (ddx == 1) { daySuffix = 'st' }
/     if (ddx == 2) { daySuffix = 'nd' }
/     if (ddx == 3) { daySuffix = 'rd' }

/     var tipOfDay = "Chore Do Person of the day for " + weekDays[dy] + " " + dd  + daySuffix + " " + months[mm] + " " + yy + ":- &nbsp&nbsp  " + TOD[1]
/     document.write(tipOfDay);

%p#notice
    = notice
-if current_user
    %h1
        = @currently_assigned.username
        Its your day to do chores!
    %h1
    Current Chorebot Drones
    %table
        %tr
            %th
                Username
            %th
                Email
            %th
                Did Chores on
            %th
            %th
            %th
        - @users.each do |user| 
            %tr
                %td
                    = user.username 
                %td
                    = user.email
                %td
                    = user.chore_date.inspect
                %td
                    = link_to 'View', user
                %td
                    = link_to 'Edit', edit_user_path(user) 
                %td
                    = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } 

    = link_to 'New Drone', new_user_path, :class => 'button'
-else
    .create-account-form
        .welcome
            %h1
                Welcome to chorebot!
            %h2
                If your new, create your account here

            = render 'form' 

    .login
        %h2
            or
            = link_to 'Login Here', :login